[Unit]
Description=Diabetes Meal Plan API (Docker Compose)
Requires=docker.service
After=docker.service network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/diabetesmealplanpredictionapi
ExecStart=/usr/bin/docker compose -f docker-compose.yml up -d
ExecReload=/usr/bin/docker compose -f docker-compose.yml up -d --build
ExecStop=/usr/bin/docker compose -f docker-compose.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
